*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}


.head{
    background-color: rgb(74, 9, 57);
    display: flex;
    text-align: center;
    align-items: center;
}
.head li{
    list-style: none;
}

.ssylki{
    margin-left: 500px;
    display: flex;
}
.ssylki li{
    margin-left: 30px;
}
.ssylki a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.logos{
    display: flex;
    margin-left: 680px;
}

.headLog{
    margin-left: 32px;
}
.body{
    background: url(images/2001_i121_016_isomet.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:100vh
}
.text1{
    position: absolute;
    bottom: 560px;
    left: 380px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.text2{
    position: absolute;
    bottom: 500px;
    left: 380px;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.text3{
    position: absolute;
    bottom: 420px;
    left: 380px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    

}
.buttons{
    display: flex;
    position: absolute;
    bottom: 240px;
    left: 350px;
}
.buttons .b1{
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    margin: 25px;
    background-color: rgb(189, 12, 106);
    border-radius: 30px;
    font-weight: bold;
    
}
.buttons .b2{
    color: black;
    text-decoration: none;
    padding: 20px 50px;
    margin: 25px;
    background: #fff;
    border-radius: 30px;
    font-weight: bold;
    
}
.body2{
    padding-top: 1100px;
    margin-left: 900px;
    font-size: 40px;
    font-weight: bold;}
.immg{
    padding-top: 80px;
    width: 80px;
    height: 80px;
    margin-left: 550px;
    align-items: center;
}
.immg img{
    padding-top: 70px;
}
.tex1{
    margin-left: 650px;
    margin-right: 450px;
    padding-top: 75px;
    font-size: 18px;
}
.tex2{
    margin-left: 650px;
    margin-right: 450px;
    padding-top: 83px;
    font-size: 18px;
}
.tex3{
    margin-left: 650px;
    margin-right: 450px;
    padding-top: 50px;
    font-size: 18px;

}
.bl3{
    margin-top: 100px;
    background-color: #6d3293;
    
    padding-bottom: 70px;
}
.bl3_t{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 780px;
}
.bl3_bt{
    display: flex;
   height: 60px;
   width: 120px;
   margin-left:400px ;
   
   
}
.bl3_bt input{
    margin-left: 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    align-items: center;
    padding: 0 20px;
}
.bl3_bt a{
    background: black;
    color: #fff;
    margin-left: 40px;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}
.bl4{
    margin-top: 50px;
    background-color: #fff;
    padding-bottom: 100px;

}
.bl4_t{
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 780px;
}
.bl4_1{
    margin-left: 300px;
    text-align: center;
    width: 33%;
}
.bl4_2{
    text-align: center;
    width: 33%;
}
.bl4_3{
    text-align: center;
    width: 33%;
}


.bl1_r{
    display: flex;
    margin-right: 150px;
}
.bl2_r{
    display: flex;
    margin-right: 150px;
    margin-top: 70px;
}
.r2_1{
    margin-left: 300px;
    text-align: center;
    width: 33%;
}
.r2_2{
    
    text-align: center;
    width: 33%;
}
.r2_3{
   
    text-align: center;
    width: 33%;
}
.bl5{
    margin-top: 100px;
    background-color: #b4519e;;
    
    padding-bottom: 70px;
}
.bl5_t{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 780px;
}
.bl5_bt{
    display: flex;
   height: 60px;
   width: 120px;
   margin-left:400px ;
   
   
}
.bl5_bt input{
    margin-left: 40px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    align-items: center;
    padding: 0 20px;
}
.bl5_bt a{
    background: black;
    color: #fff;
    margin-left: 40px;
    padding: 15px 40px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}